config ZMK_KSCAN_DIAGNOSTICS
    bool "Enable Kscan Diagnostics feature"

if ZMK_KSCAN_DIAGNOSTICS

config ZMK_KSCAN_DIAGNOSTICS_STUDIO_RPC
    bool "Enable Kscan Diagnostics custom Studio RPC"
    depends on ZMK_STUDIO

endif
